name: Publishing

on:
  push:
    branches:
      - master
      - develop

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: browser-actions/setup-chrome@v1
        with:
          chrome-version: stable
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: 'https://registry.npmjs.org'
          cache: 'npm'
      - run: npm i
      - run: npm run benchmark
      - name: Publish
        uses: coactions/setup-xvfb@v1
        with:
          run: npm publish --access public --tag ${{github.ref_name == 'develop' && 'next' || 'latest' }}
